<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Error Validation Page</title>
</head>
<body>

	<h3>Error Validation Page</h3>
	<p>You are redirected here because an exception was caught on your domain name entered that failed due to reason below<p>
	<p>** A domain's SLD may have no more than 63 characters</p>

	Please click here to restart -
	<a href="http://localhost:8080/price">http://localhost:8080/price</a>
</body>
</html>